body {
    background: -webkit-repeating-linear-gradient();
    background: fixed;
    background: center;
    background-color: black;

}

h1 {
    -webkit-text-fill-color: aquamarine
}
  buzton {
    background-color: #1f618d;
  }
    